.box:nth-child(even) {
  background-color: #CCC;
}

.box:nth-child(odd) {
  background-color: #AAA;
}

.box {
  padding: 10px;
  height: 190px;
  text-align: center;
}

.box-water {
  background-color: #3A85FF;
  color: white
}